body {
    background-color: #d9dcd6;
}


.nav {
display: flex;
flex-direction: row;
background-color: rgb(66, 70, 70);
border-bottom: solid 5px;
border-bottom-color: rgb(47, 79, 146);
}

#left{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px; 

   
    /* HOW DO I SHIFT THE NAME A BIT TO THE RIGHT?  */
}
#left {
    font-size: 20px;
    font-stretch: semi-expanded;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    color: rgb(219, 218, 218);
}

#right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 85%

}

#right a{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    color: rgb(236, 223, 223);

}
.aboutMe{
    text-align: center;
    border-bottom: 5px solid rgb(47, 79, 146);
    padding-bottom: 5px;
  }

.aboutMe img {
    max-height: 200px;
}
  
.work{
    text-align: center;
    padding-bottom: 5px;
}


#projectGrid{                                                                
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    margin: 0px 10%;
    grid-template-areas: 
    "main main main"
    "project2 project3 project4"
    "project5 project6 project7";
}

#main {
    grid-area: main; 
    background-image: url("../Assets/images/02-hero-bg.jpg")  
} 

#project2 {
    grid-area: project2; 
    background-image: url("../Assets/images/02-portfolio-1.jpg")   
}  

#project3 {
    grid-area: project3;
    background-image: url("../Assets/images/02-portfolio-2.jpg")    
}

#project4 {
    grid-area: project4;
    background-image: url("../Assets/images/02-portfolio-3.jpg")
    
}

#project5 {
    grid-area: project5; 
    background-image: url("../Assets/images/02-portfolio-4.jpg")  
        
}
#project6 {
    grid-area: project6; 
    background-image: url("../Assets/images/02-run-buddy.jpg") 
       
}
#project7 {
    grid-area: project7;
    background-image: url("../Assets/images/02-portfolio-4.jpg")        
}

.projectGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;  
    
    }

.heading {
    background-color: rgba(0,0,0,0.7);
    padding: 15px;
    height: 25px;
    color: white;
    font-size: 18px;
    border-bottom: 5px solid rgb(47, 79, 146);
}

footer {
    text-align: center;
}

.fb{

}