/* <-- Website Background image --> */
body {
    background-color: #ffffff;
    background-image: url("../Assets/images/background2.jpg")
}

/* <-- Nav CSS --> */
.nav {
display: flex;
flex-direction: row;
border-bottom: solid 0px;
}

#left{
    display: flex;
    padding-left: 150px;
    align-items: center;
    border: 10px; 
}
   
#right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 150px;
    align-items: center;
    width: 100%
}

#right a{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    color: rgb(210, 216, 218);
    text-align: end;
}
.sidebar{
    border-right: 5px;
    flex: 0 1 300px;
    color: rgb(43, 108, 126);
}
/* <-- About ME CSS --> */
.aboutMe{
    display: inline-block;
    padding: 20px;
    height: 200px;
    color: rgb(210, 216, 218);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0,0,0,0.7);
    text-align: left;
    margin: 20px 10%;
}

.aboutMe img {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}
  /* <-- My Work CSS --> */
.work{
    text-align: center;
    padding: 1px;
    color: rgb(210, 216, 218);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0,0,0,0.7);
    margin: 0px 10%;
    }

#projectGrid{                                                                
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    margin: 0px 10%;
    background-color: rgba(0,0,0,0.7);
    grid-template-areas: 
    "main main main"
    "project2 project3 project4"
    "project5 project6 project7";
}

#main {
    grid-area: main; 
    background-image: url("../Assets/images/02-hero-bg.jpg")  
} 

#project2 {
    grid-area: project2; 
    background-image: url("../Assets/images/02-portfolio-1.jpg")   
}  

#project3 {
    grid-area: project3;
    background-image: url("../Assets/images/02-portfolio-2.jpg")    
}

#project4 {
    grid-area: project4;
    background-image: url("../Assets/images/02-portfolio-3.jpg")    
}

#project5 {
    grid-area: project5; 
    background-image: url("../Assets/images/02-portfolio-4.jpg")       
}
#project6 {
    grid-area: project6; 
    background-image: url("../Assets/images/02-run-buddy.jpg")        
}
#project7 {
    grid-area: project7;
    background-image: url("../Assets/images/02-portfolio-4.jpg")        
}

.projectGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    cursor: pointer;
    display: grid;
    align-content: flex-start;  
    border: solid 2px;
    border-color: #ffffff;      
    }

.heading {
    background-color: rgba(0,0,0,0.7);
    padding: 5px;
    height: 25px;
    color: white;
    font-size: 18px;    
}
 /* <-- Contact Me (footer) CSS --> */

footer {
    background-color: rgba(0,0,0,0.7);
    margin-top: 10px;
    padding-top: 5px;
    height: 100px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    
}


a{
    color: white;  
}

@media screen and (max-width: 480px) {
    body {
       background-color: rgb(255, 255, 255);
     }
   }
   /* 
   border-bottom: 5px solid rgb(47, 79, 146);
   */